body
{
    margin: 0;
    font-family: 'Quicksand', serif;
}

.logomountains
{
   max-width: 100%;
}

.menubar
{
    position: -webkit-sticky; /*Så sticky også virker i Safari*/
    position: sticky;
    top: 0; /*Ellers virker den ikke. Virker om den er 0, 20px, 999 osv. Hvorfor, kan jeg ikke finde svar på*/
    z-index: 2; /*For at menubaren altid er forrest på siden*/
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 8px; /*For at give luft om bogstaverne*/
    padding-bottom: 8px; /*For at give luft om bogstaverne*/
    background-color: #B6DFC0;
}

.menubarheadline
{
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: inline;
    padding: 10px 0 10px 70px;
}

a.linkmenubarheadline:link
{
    color: black;
    text-decoration: none;
}

a.linkmenubarheadline:visited
{
    color: black;
}

a.linkmenubarheadline:hover
{
    color: white;
}

.linkmenubarheadlinelogout
{
    float: right;
    padding-right: 70px;
}

a.linkmenubarheadlinelogout:link
{
    color: black;
    text-decoration: none;
}

a.linkmenubarheadlinelogout:visited
{
    color: black;
}

a.linkmenubarheadlinelogout:hover
{
    color: white;
}

footer
{
    background-color: #F0FEE8;
    position: relative;
    float: bottom;
    padding-left: 20px;
}

a.footerlogo:link
{
    color: black;
    text-decoration: none;
}


.footerlogo
{
    position: relative;
    float: left;
    padding-left: 70px;
    height: 20px;
}