.textbox-container
{
    padding-top:70px;
    width: 500px;
    margin: auto;
}

.frontpage-textbox
{
    background: rgba(255, 255, 255, 0.7);
    padding: 20px 30px 20px 30px;
    border: 3px solid;
    border-radius: 15px;
    margin-bottom: 70px;
}

.frontpage-bulletpointbox
{
    padding: 20px 30px 20px 30px;
    margin-bottom: 70px;
}

.textboxheadline
{
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.textboxcontent
{
    font-size: 20px;
}