<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> KnowYourWaste </title>

    <link rel="icon" href="https://i.imgur.com/GAoX0k6.png" type="image/png"/>
    <meta charset="utf-8"/>
    <meta name="description" content="KnowYourWaste er en side for forretninger, der ønsker at mindske deres madspild"/>

    <!-- css-filer -->
    <link href="/createwastelist.css" type="text/css" rel="stylesheet">

    <!-- bootstraaaaap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--Font-->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!-- font-family: 'Quicksand', sans-serif; -->

</head>
<body>
<div class="indexwrapper">

    <div class="logo">

        <img class="logo" src="https://i.imgur.com/wgDrCip.png" alt="Know_Your_Waste_logo.png">

    </div>
    <div class="container font">
        <div class="row">
            <!-- Kolonne til inputfelt -->
            <div class="col">
                <div id="form-container">
                    <!-- Dette er en form
                    Vi laver @PostMapping("/logind") i Controlleren for at lave et endpoint - pga. denne form -->
                    <form id="login-form" action="/postCreateWasteList" method="post">
                        <h5 class="loginformheadline">Vælg sortiment til lukkeliste</h5>

                        <input type="checkbox" id="bread" name="bread" value="Bread">
                        <label class="checkboxlabel" for="bread"> Franskbrød</label><br>

                        <input type="checkbox" id="ryebread" name="ryebread" value="Ryebread">
                        <label class="checkboxlabel"  for="ryebread"> Rugbrød</label><br>

                        <input type="checkbox" id="spandauer" name="spandauer" value="Spandauer">
                        <label class="checkboxlabel"  for="spandauer"> Spandauer</label><br>

                        <input type="checkbox" id="cake" name="cake" value="Cake">
                        <label class="checkboxlabel" for="cake"> Kajkage</label><br>

                        <input type="checkbox" id="othellocake" name="othellocake" value="Othellocake">
                        <label class="checkboxlabel" for="othellocake"> Othellolagkage</label><br>

                        <input type="checkbox" id="rumcake" name="rumcake" value="Rumcake">
                        <label class="checkboxlabel" for="rumcake"> Romkugle</label><br><br>


                        <!-- HER SKAL DER INDSÆTTES INDTASTNINGFELT TIL FLERE VARER -->

                        <a href="/frontPage" class="gotofrontpage">Udfyld senere</a>

                        <input type="submit" value="Gem" class="submit">

                    </form>
                </div>
            </div>
            <div class="col">
                <div class="infobox">
                    <!--Her er vores info-boks -->
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>

