<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Know Your Waste </title>

    <link rel="icon" href="https://i.imgur.com/GAoX0k6.png" type="image/png"/>
    <meta charset="utf-8"/>
    <meta name="description" content="KnowYourWaste er en side for forretninger, der ønsker at mindske deres madspild"/>

    <!-- css-filer -->
    <link href="/loggedintemplate.css" type="text/css" rel="stylesheet">
    <link href="/createwastelist.css" type="text/css" rel="stylesheet">

    <!-- bootstraaaaap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--Font-->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!-- font-family: 'Quicksand', sans-serif; -->

</head>
<body>
<a href="/frontPage">
    <img src="https://i.imgur.com/q1s48oe.png" alt="toplogo.png" class="logomountains">
</a>


<div class="menubar">
    <!--for at style linkene skulle a have sin egen klasse-->
    <span class="menubarheadline"><a class="linkmenubarheadline" href="/frontPage"> Forside</a></span>
    <span class="menubarheadline"><a class="linkmenubarheadlinewhite" href="/createWasteList"> Lukkeliste</a></span>
    <span class="menubarheadline"><a class="linkmenubarheadline" href="/statistics"> Statistik</a></span>
    <span class="menubarheadline"><a class="linkmenubarheadlinelogout" href="/"> Log ud</a></span>
</div>

<p>
    Hek ehjehkjfhskjhfs <br> hjke <br> hekheljlkj
</p>
<div class="container font">
    <div class="row">
        <!-- Kolonne til inputfelt -->
        <div class="col">
            <div id="form-container">



            </div>
        </div>
    </div>
</div>

<footer>
    <div>
            <span class="footerlogo">
                <img class="footerlogo" src="https://i.imgur.com/wgDrCip.png" alt="Know_Your_Waste_logo.png">
            </span>
        <div class="floatright">
                <span><a class="footertext" href="https://www.google.com/maps/place/Lygten+37,+2400+K%C3%B8benhavn/data=!4m2!3m1!1s0x465252496d687ed3:0xab513417c1575967?sa=X&ved=2ahUKEwj9ya6NqJHsAhUPzqQKHYjIAKoQ8gEwAHoECAwQAQ">
                    Lygten 37, 2400 København</a></span>
            <span class="footertext">kontakt@knowyourwaste.dk</span>
            <span class="footertext">+45 0000 1010</span>
        </div>
    </div>
</footer>
</body>
</html>

