<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Know Your Waste </title>

    <link rel="icon" href="https://i.imgur.com/GAoX0k6.png" type="image/png"/>
    <meta charset="utf-8"/>
    <meta name="description" content="KnowYourWaste er en side for forretninger, der ønsker at mindske deres madspild"/>

    <!-- css-filer -->
    <link href="/layouttemplate.css" type="text/css" rel="stylesheet">
    <link href="/statistics.css" type="text/css" rel="stylesheet">

    <!-- bootstraaaaap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--Font-->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!-- font-family: 'Quicksand', sans-serif; -->

    <!--Icon-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>
<body>
<!--pagecontainer der tager footer med-->
<div class="pagecontainer">
    <!--content der inkapsler hele siden undtagen footer-->
    <div class="content">
        <div class="logo">
            <a class="linklogo" href="/frontPage"><img src="https://i.imgur.com/wgDrCip.png" alt="Know_Your_Waste_logo.png" class="logo"></a>
        </div>

        <div class="menubar">
            <!--for at style linkene skulle a have sin egen klasse-->
            <span class="menubarheadline"><a class="linkmenubarheadline" href="/frontPage"> Forside</a></span>
            <span class="menubarheadline"><a class="linkmenubarheadline" href="/createWasteList"> Lukkeliste</a></span>
            <span class="menubarheadline"><a class="linkmenubarheadlinewhite" href="/statistics"> Statistik</a></span>
            <span class="menubarheadline"><a class="linkmenubarheadlinelogout" href="/"> Log ud</a></span>
        </div>

        <div class="container font">
            <div class="row">
                <div class="col">
                    <div class="graf-container">

                        <img src="https://i.imgur.com/Rpsnp2v.png" alt="graf.png" class="graf">

                    </div>
                </div>
                <div class="col">
                    <div class="statguideline-container">

                        <h5 class="statguidelineheadline">Vejledning&nbsp;<i class="fas fa-question-circle"></i></h5>

                        <p class="statguidelinecontent">Denne graf viser et overblik over det totale madspild per dag i nuværende måned sammenlignet med tilsvarende måned sidste år</p>
                        <p class="statguidelinecontent">I tabellen nedenunder kan du ved at trykke på månedsrubrikkerne ændre hvilken måned og år du vil sammenligne og visualisere på grafen og tabellen</p>
                        <p class="statguidelinecontent">Ved at trykke på differencerubrikken kan du vælge at få resultatet vist i procent eller styk</p>
                        <p class="statguidelinecontent">På grafen kan du også få vist det månedlige madspild for en enkelt vare ved at trykke på varens navn i tabellen. Tryk på varen igen for at gå tilbage til visningen af det samlede madspild</p>
                        <p class="statguidelinecontent"></p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table-container">
                    <table class="stattable roundedCorners">
                        <tr>
                            <th>Vare</th>
                            <th>September 2019</th>
                            <th>September 2020</th>
                            <th>Difference (%)</th>
                        </tr>

                        <tr>
                            <td>Franskbrød</td>
                            <td>97 stk</td>
                            <td>68 stk</td>
                            <td class="positiv">29,9% &nbsp;<i class="fas fa-thumbs-up"></i></td>
                        </tr>
                        <tr>
                            <td>Rugbrød</td>
                            <td>98 stk</td>
                            <td>68 stk</td>
                            <td class="positiv">30,7% &nbsp;<i class="fas fa-thumbs-up"></i></td>
                        </tr>
                        <tr>
                            <td>Spandaur</td>
                            <td>96 stk</td>
                            <td>68 stk</td>
                            <td class="positiv">29,2%&nbsp;<i class="fas fa-thumbs-up"></i></td>
                        </tr>
                        <tr>
                            <td>Kajkage</td>
                            <td>97 stk</td>
                            <td>58 stk</td>
                            <td class="positiv">40,1%&nbsp;<i class="fas fa-thumbs-up"></i></td>
                        </tr>
                        <tr>
                            <td>Othellolagkage</td>
                            <td>72 stk</td>
                            <td>98 stk</td>
                            <td class="negativ">36,1%&nbsp;<i class="fas fa-thumbs-down"></i></td>
                        </tr>
                        <tr>
                            <td>Rumkugle</td>
                            <td>99 stk</td>
                            <td>98 stk</td>
                            <td class="positiv">1,1%&nbsp;<i class="fas fa-thumbs-up"></i></td>
                        </tr>
                        <tr>
                            <td class="total">Total</td>
                            <td class="total">585 stk</td>
                            <td class="total">469 stk</td>
                            <td class="totalpositiv">19,8%&nbsp;<i class="fas fa-thumbs-up"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <a href="/frontPage">
                <span class="footerlogo">
                    <img class="footerlogo" src="https://i.imgur.com/wgDrCip.png" alt="Know_Your_Waste_logo.png">
                </span>
            </a>
            <div class="floatright">
                    <span><a class="footertext" href="https://www.google.com/maps/place/Lygten+37,+2400+K%C3%B8benhavn/data=!4m2!3m1!1s0x465252496d687ed3:0xab513417c1575967?sa=X&ved=2ahUKEwj9ya6NqJHsAhUPzqQKHYjIAKoQ8gEwAHoECAwQAQ">
                        Lygten 37, 2400 København</a></span>
                <span><a class="footertext" href="mailto:kontakt@knowyourwaste.dk">kontakt@knowyourwaste.dk</a></span>
                <span><a class="footertext" href="tel:+45 0000 1010">+45 0000 1010</a></span>
            </div>
        </div>
    </footer>
</div>
</body>
</html>

